.bg-dark{
    background-color: rgb(56,56,56);
}

.text-white{
    
    color: white
}

.custom-image{
    padding: 10px;
    width: calc(100% - 20px);
    border-radius: 3rem;
}

/* Los botones y los divs que contengan .custom-Button EN EL PADRE */
.custom-buttons button, .custom-buttons div{
    color: white;
    border-color: white;
}


.shopping-cart {
    position: fixed;   
    right: 10px;
    top: 0px;
}

.shopping-cart p , .shopping-cart h2{
    text-align: center;
}


/* ProductTitle */
.productTitle{
    @apply text-center font-bold text-2xl
}

/* ProductState */
.productState{
    @apply p-2  text-center
}

/* ProductButtons */
.productButtons{
    @apply flex space-x-2 p-1 items-center
}

.productButtons button{
    @apply border p-2 px-5 
}
.parentProductButtons{
    /* @apply grid place-items-center */
}


/* productButtonsState */
.productButtonsState{
    @apply flex space-x-2 p-1 items-center
}

.productButtonsState button{
    @apply border p-2 px-2  
}

.parentProductButtonsState{
    /* @apply grid place-items-center */
}

/* ProductPrice */
.productPrice{
    @apply text-white
}

.productIngredients{
    @apply bg-white text-black px-2
}


/* EVERY  */
button{
   @apply hover:scale-105 duration-150
}